{% load staticfiles %}
<html>
    <head>
        <title>Центр Воинского Искусства "Берсерк"</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    </head>
    <body>
        <nav class='navbar'>
            <a class="header-logo" href="#">ЦВИ "Берсерк"</a>  
            <ul class='menu-top'>
                <li><a href="">О нас</a></li>
                <li><a href="">Расписание</a></li>
                <li><a href="">Контакты</a></li>
                <li><a href="">Статьи</a></li>
            </ul>
         </nav>
        <div class="main-body">
            <div class="">
                <div class="">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <div class='footer'>
            <div class='footer-copy'>Сделано для фана и изучения Python и Django. :)</div>
        </div>
    </body>
</html>